
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background:darkgrey;
}

h1 {
  color: rgb(60, 179, 186);
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
}

h3 {
  color: rgb(60, 179, 186);
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

nav, .navbar-default {
  background-color: white;
  border-color: #e7e7e7;
}

nav, .navbar-default {
  color:white;
} 

.navbar-brand {
  background:rgb(11, 129, 138);
  color: white;
  font-size: 25px;
  padding: 20px 20px;
}

li {
float: left;
}

li a {
display: block;
color: rgb(60, 60, 60);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: beige;
}


div.media-left {
margin-right: 10px;
}


div.jumbotron {
color:rgb(60, 60, 60);
background-color: white;
position: absolute;
top: 50px;
border: 2px solid white;
}

/**\